graft src
graft tests
graft examples
prune docs

include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
exclude .pre-commit-config.yaml
