graft src
graft tests
graft examples

include LICENSE
include README.md
include CHANGELOG.md

include pyproject.toml
include pytest.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib
exclude Notes.md
