graft src
graft tests
graft examples

include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml

global-exclude *.py[cod] __pycache__/* *.so *.dylib
exclude examples/*.png examples/*.mp4
