[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
grip = "*"
matplotlib = "*"
numpy = "*"
pyglet = "*"
pytest = "*"
setuptools = ">=39.2"
tox = "*"

[packages]
numpy = "*"
matplotlib = "*"
pyglet = "*"

[requires]
python_version = "3.7"

[dev-packages.billiards]
editable = true
extras = [ "visualize",]
path = "."
