[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyglet = "*"

[dev-packages]
setuptools = ">=40.8.0"
pytest = "*"
pytest-cov = "*"
bump2version = "*"
grip = "*"
pre-commit = "*"
tox = "*"
billiards = {editable = true, path = "."}

[requires]
python_version = "3"
