[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = ">=3.5.0"
tqdm = "*"
pyglet = ">=2.0.0"

[dev-packages]
billiards = {editable = true, path = "."}
setuptools = ">=40.8.0"
build = "*"
pytest = "*"
pytest-cov = "*"
bump2version = "*"
tox = "*"
